@import "colors";
@import "fonts";


html, body {
    .p-btn {
        .p-font-normal();

        height: 36px;
        min-width: 52px;
        padding: 0 16px;

        text-align: center;

        font-weight: 500;
        color: @color-white;
        background: @color-unclaimed-green-1;

        border: 0px;
        border-radius: 3px;
        outline: none;
        transition: background-color 0.1s ease-out;

        &:hover {
            background: @color-unclaimed-green-2;
        }

        &:active {
            background: @color-unclaimed-green-3;
        }

        &:disabled {
            background: #BEBEBE;
        }

        &.p-input-blocked {
            background: @color-unclaimed-green-4;
            cursor: default;
        }
    }

    .p-btn-outline {
        border: 1px solid @color-unclaimed-green-1;
        color: @color-unclaimed-green-1;

        background-color: @color-white;

        &:hover {
            background: @color-unclaimed-green-6;
        }

        &:active {
            background: @color-unclaimed-green-5;
        }

        &:disabled {
            color: #C0C0C0;
            border-color: #C0C0C0;
            background: @color-white;
        }

        &.p-input-blocked {
            background: @color-white;
            cursor: default;
        }
    }
}
