@import "./colors";
@import "./normalize";


html, body {
    .p-btn {
        height: 36px;
        min-width: 52px;
        padding: 0 16px;

        line-height: 1;
        text-align: center;
        letter-spacing: 0.03em;
        font-weight: 500;
        font-size: 14px;

        color: @color-white;
        background: @color-green;

        border: 0px;
        border-radius: 3px;
        outline: none;
        transition: background-color 0.1s ease-out;

        &:hover {
            background: @color-green-lighter;
        }

        &:active {
            background: @color-green-darker;
        }

        &:disabled {
            background: #BEBEBE;
        }
    }

    .p-btn-outline {
        border: 1px solid @color-green;
        color: @color-green;

        background-color: @color-white;

        &:hover {
            background: @color-white-green-lighter;
        }

        &:active {
            background: @color-white-green-darker;
        }

        &:disabled {
            color: #C0C0C0;
            border-color: #C0C0C0;
            background: @color-white;
        }
    }
}
