@color-green: #57A84A;
@color-green-lighter: #66CA56;
@color-green-darker: #438139;

@color-white: #ffffff;
@color-white-green-lighter: #e7f6e8;
@color-white-green-darker: #bde5be;

@color-light-green: #A2DFA3;


@color-blue: #438DE2;
@color-blue-white-lighter: #EFF6FF;
@color-blue-white-darken: #D4E5F9;
