html body .p-font-normal {
    line-height: 1;
    letter-spacing: 0.03em;
    font-weight: normal;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
